nav{
  background-color: rgba(120, 120, 120, 0.7);
  font-family: 'Titillium Web', sans-serif;
}
.navbar-brand{
  font-weight:normal;
  font-size: 20px;
  color: rgb(51, 133, 255);
}
.navi{
  position: fixed;
  top: 0px;
  width: 100%;
}

.index{
  border: white solid 0.2px;
  margin-top: -50px;
  height: 1200px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.name{
  margin-top: 250px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(120, 120, 120, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
}
.name h1{
  color: rgb(0, 170, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.contact{
  border: white solid 0.2px;
  margin-top: -50px;
  height: 1100px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.contact_head{
  margin: 100px 10% 0px 10%;
  padding: 40px 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(200, 200, 200, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  font-size: 22px;
}
.sidelogo{
  margin-bottom: 40px;
}
.contact h1{
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.about{
  border: white solid 0.2px;
  margin-top: -50px;
  height: 1200px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.head_about{
  margin: 100px 10% 30px 10%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(200, 200, 200, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  position:sticky;
}
.about h1{
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
.about h3{
  margin: 20px auto;
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
}
.sidelogo_about{
  margin: 40px 0px;
  text-align: center;
}
.skill img{
  margin: 20px 20px;
}

.projects{
  border: white solid 0.2px;
  margin-top: -50px;
  height: 1200px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.head_projects{
  margin: 100px 10% 30px 10%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(200, 200, 200, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  position:sticky;
  padding-bottom: 20px;
}
.projects h1{
  margin-bottom: 10px;
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.sidelogo_projects{
  margin: 30px 0px;
  text-align: center;
}

.mblog{
  border: white solid 0.2px;
  margin-top: -50px;
  height: 1200px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.container {
  margin: 480px 100px;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(200, 200, 200, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  display: table;
  height: auto;
  left: 50%;
  max-width: 1100px;
  padding: 10px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.head_mblog h1{
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.head_mblog p{
  text-align: center;
  margin-bottom: 30px;
}
.container h6{
  text-align: center;
}
 .container .next{
  float: right;
}
.container .back{
  float: left;
}
.sidelogo_blog{
  margin-bottom: 0px;
  text-align: center;
}
.container .blog {
  display: inline-block;
  height: auto;
  width: 70%;
}
.container .blog.blog-right {
  float: right;
  width: 30%;
}
.container .blog.blog-left > .blog-item {
  height: 220px;
  margin-right: 40px;
  margin-top: 0px;
}
.container .blog.blog-right > .blog-item {
  height: 90px;
}
.container .blog > .blog-item:not(:last-child) {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.container .blog.blog-left > .blog-item:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.container .blog > .blog-item > .blog-img {
  float: left;
  height: 150px;
  margin-right: 10px;
}
.container .blog.blog-right > .blog-item > .blog-img {
  height: 70px;
}
.container .blog.blog-left > .blog-item > .blog-content {
  height: 110px;
  padding: 15px 0;
  color: black;

}
.container .blog.blog-right > .blog-item > .blog-content {
  height: 70px;
  padding: 10px 0;
}
.container .blog > .blog-item > img {
  cursor: pointer;
}
.container .blog > .blog-item > .blog-content > h2 {
  cursor: pointer;
  margin: 0;
  color: rgb(51, 133, 255);
}
.container .blog.blog-right > .blog-item > .blog-content > h2 {
  font-size: 15px;
  color: black;
}
.container .blog > .blog-item > .blog-content > span {
  color: #cacaca;
  display: inline-block;
  font-size: 75%;
  margin-top: 5px;
  text-transform: uppercase;
  color: rgb(41, 122, 245);
}
.container .blog > .blog-item > .blog-content > p {
  color: black;
}
.container .blog > .blog-item > .blog-content > p > a {
  color: black;
  font-weight: bold;
  transition: color 0.5s;
}
.container .blog > .blog-item > .blog-content > p > a:hover {
  color: #0056c7;
}

.request{
  margin: 100px 10% 0px 10%;
  padding: 50px 20%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(200, 200, 200, 0.7);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  position: sticky;
  font-size: 20px;

}
.request h1{
  color: rgb(51, 133, 255);
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.sidelogo_request{
  margin-bottom: 30px;
}

.form-group{
  font-family: 'Titillium Web', sans-serif;
}


footer{
  text-align: center;
  background-color: rgba(120, 120, 120, 0.7);
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  bottom: 0px;
  color: white;
  width: 100%;
}
.socicon div{
  float: right;
  margin: 6px 10px 0px 5px;
}
.socicon .social{
  margin-top: 2px;
}
.socicon .copy{
  float: left;
  font-size: 12px;
}

.footermain a{
color: white;
}

.footermain a:hover{
color: rgba(180, 180, 180, 1);
}
