<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}About me{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}

  <div class="about">
      <style>.about{background-image: url(assets/bg_img/about.jpeg);}</style>

    <div class="head_about">
      <div class="sidelogo_about"><img src="assets/png/006-user.png"/></div>
    <h1>About me</h1>
    <div class="about_text"></div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

  <div class="skill">
    <h3>My Skill</h3>
    <a href=""><img src="assets/png/001-interface.png"/></a>
    <a href=""><img src="assets/png/004-css.png"/></a>
    <a href=""><img src="assets/png/006-py.png"/></a>
    </div>
  </div>
  </div>
</div>

{% endblock page_content %}
  </body>
  </html>
