<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Homepage</title>
  <link rel="stylesheet" href="assets/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="js/script.js" defer></script>
</head>
<body>

  <div class="navi">
    <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">My Homepage |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutme">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects">My Projects </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link right" href="blog">Blog </a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="contact">Contact </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  </div>

  <div class="mblog">
      <style>.mblog{background-image: url(assets/bg_img/blog.jpeg);}</style>
  <div class="container">
    <div class="head_mblog">
      <div class="sidelogo_blog" href=""><img src="assets/png/003-vision.png"/></div>
    <h1>BLOG</h1>
    <div class="mblog_text"></div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
    </div>

    <div class="blog blog-left">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/microsoft.jpg" title="Microsoft details Windows 10’s IoT capabilities in the Fall Creators Update" />
        <div class="blog-content">
          <h2>Microsoft details Windows 10’s IoT capabilities in the Fall Creators Update</h2>
          <span>Tobias - Nov 22, 2017</span>
          <p>Microsoft has outlined all the ways the Fall Creators Update improves on the capabilities of Windows 10 for IoT solutions.<a href="">Continue reading</a></p>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/firefox.jpg" title="Mozilla crowdsourcing speech recognition system" />
        <div class="blog-content">
          <h2>Mozilla crowdsourcing speech recognition system</h2>
          <span>Tobias - Nov 26, 2017</span>
          <p>Mozilla is seeking volunteers to contribute about 10,000 hours of audio in various accents to create a database to be freely available to developers who want to train speech-to-text systems for their projects.<a href="">Continue reading</a></p>
        </div>
      </div>
    </div>
    <div class="blog blog-right">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/api.jpg" title="Android 8.1 Developer Preview released with Neural Networks API" />
        <div class="blog-content">
          <h2>Android 8.1 Developer Preview released with Neural Networks</h2>
          <span>API</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/mobile.jpg" title="New data shows mobile developers intrigued by AR possibilities" />
        <div class="blog-content">
          <h2>New data shows mobile developers intrigued by AR possibilities</h2>
          <span>Mobile</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/skype.jpg" title="Skype introduces real-time code editor to help ease technical interview burdens" />
        <div class="blog-content">
          <h2>Skype introduces real-time code editor to help ease technical interview burdens</h2>
          <span>Skype</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/xbox_one.png" title="Opinion: Xbox One X is what a console should be – innovative" />
        <div class="blog-content">
          <h2>Opinion: Xbox One X is what a console should be – innovative</h2>
          <span>Xbox</span>
        </div>
      </div>
    </div>
    <div class="next">
      <a class="btn btn-lg" href="blog2">next page</a>
    </div>
    <h6>Page 1</h6>
</div>
</div>


  <footer class="footermain">

    <div class="socicon">
    <div class="socicon-instagram"></div>
    <div class="socicon-facebook"></div>
    <div class="socicon-twitter"></div>
    <div class="socicon-youtube"></div>
    <div class="social">Let`s get friends!</div>
    <div class="copy">Tobias Galler 2017</div>
  </div>

  </footer>


  </body>
  </html>
