<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Homepage</title>
  <link rel="stylesheet" href="assets/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="js/script.js" defer></script>
</head>
<body>

  <div class="navi">
    <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">My Homepage |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutme">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects">My Projects </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link right" href="blog">Blog </a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="contact">Contact </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  </div>

  <div class="mblog">
      <style>.mblog{background-image: url(assets/bg_img/blog.jpeg);}</style>
  <div class="container">
    <div class="head_mblog">
      <div class="sidelogo_blog" href=""><img src="assets/png/003-vision.png"/></div>
    <h1>BLOG</h1>
    <div class="mblog_text"></div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
    </div>

    <div class="blog blog-left">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/smartwatch.jpg" title="20 Wrist-Worthy Smartwatch UI Redesigns" />
        <div class="blog-content">
          <h2>20 Wrist-Worthy Smartwatch UI Redesigns</h2>
          <span>Tobias - Nov 11, 2017</span>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="">Continue reading</a></p>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/webscrap.jpg" title="10 Web Scraping Tools to Extract Online Data" />
        <div class="blog-content">
          <h2>10 Web Scraping Tools to Extract Online Data</h2>
          <span>Tobias - Nov 17, 2017</span>
          <p>Energistically morph reliable infomediaries whereas long-term high-impact collaboration and idea-sharing.<a href="">Continue reading</a></p>
        </div>
      </div>
    </div>
    <div class="blog blog-right">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/photoshop.jpg" title="How To Create Stunning Flaming Effect in Photoshop CC 2014" />
        <div class="blog-content">
          <h2>How To Create Stunning Flaming Effect in Photoshop CC 2014</h2>
          <span>Photoshop</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/gif.gif" title="How To Play Animated GIFs onClick [Tutorial]" />
        <div class="blog-content">
          <h2>How To Play Animated GIFs onClick [Tutorial]</h2>
          <span>Coding</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/collage.jpg" title="Top 9 Free Photo Collage Makers for Windows 8.1" />
        <div class="blog-content">
          <h2>Top 9 Free Photo Collage Makers for Windows 8.1</h2>
          <span>10 is better</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/lightbox.jpg" title="15 Lightbox Libraries For Mobile Responsiveness" />
        <div class="blog-content">
          <h2>15 Lightbox Libraries For Mobile Responsiveness</h2>
          <span>Toolkit</span>
        </div>
      </div>
    </div>
    <div class="back">
      <a href="blog" class="btn btn-lg">previous page</a>
    </div>
    <div class="next">
      <a href="blog3" class="btn btn-lg">next page</a>
    </div>
    <h6>Page 2</h6>
</div>
</div>

  <footer class="footermain">

    <div class="socicon">
    <div class="socicon-instagram"></div>
    <div class="socicon-facebook"></div>
    <div class="socicon-twitter"></div>
    <div class="socicon-youtube"></div>
    <div class="social">Let`s get friends!</div>
    <div class="copy">Tobias Galler 2017</div>
  </div>

  </footer>


  </body>
  </html>
