<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Blog{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}



  <div class="mblog">
      <style>.mblog{background-image: url(assets/bg_img/blog.jpeg);}</style>
  <div class="container">
    <div class="head_mblog">
      <div class="sidelogo_blog" href=""><img src="assets/png/003-vision.png"/></div>
    <h1>BLOG</h1>
    <div class="mblog_text"></div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
    </div>

    <div class="blog blog-left">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/microsoft.jpg" title="Microsoft details Windows 10’s IoT capabilities in the Fall Creators Update" />
        <div class="blog-content">
          <h2>Microsoft details Windows 10’s IoT capabilities in the Fall Creators Update</h2>
          <span>Tobias - Nov 22, 2017</span>
          <p>Microsoft has outlined all the ways the Fall Creators Update improves on the capabilities of Windows 10 for IoT solutions.<a href="">Continue reading</a></p>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/firefox.jpg" title="Mozilla crowdsourcing speech recognition system" />
        <div class="blog-content">
          <h2>Mozilla crowdsourcing speech recognition system</h2>
          <span>Tobias - Nov 26, 2017</span>
          <p>Mozilla is seeking volunteers to contribute about 10,000 hours of audio in various accents to create a database to be freely available to developers who want to train speech-to-text systems for their projects.<a href="">Continue reading</a></p>
        </div>
      </div>
    </div>
    <div class="blog blog-right">
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/api.jpg" title="Android 8.1 Developer Preview released with Neural Networks API" />
        <div class="blog-content">
          <h2>Android 8.1 Developer Preview released with Neural Networks</h2>
          <span>API</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/mobile.jpg" title="New data shows mobile developers intrigued by AR possibilities" />
        <div class="blog-content">
          <h2>New data shows mobile developers intrigued by AR possibilities</h2>
          <span>Mobile</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/skype.jpg" title="Skype introduces real-time code editor to help ease technical interview burdens" />
        <div class="blog-content">
          <h2>Skype introduces real-time code editor to help ease technical interview burdens</h2>
          <span>Skype</span>
        </div>
      </div>
      <div class="blog-item">
        <img class="blog-img" src="assets/blog_img/xbox_one.png" title="Opinion: Xbox One X is what a console should be – innovative" />
        <div class="blog-content">
          <h2>Opinion: Xbox One X is what a console should be – innovative</h2>
          <span>Xbox</span>
        </div>
      </div>
    </div>
    <div class="next">
      <a class="btn btn-lg" href="blog2">next page</a>
    </div>
    <h6>Page 1</h6>
</div>
</div>

{% endblock page_content %}
  </body>
  </html>
