<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Homepage{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}
  <div class="index">
    <style>.index{background-image: url(assets/bg_img/keep.jpeg);}</style>

<div class="name">
  <h1>TOBIAS GALLER</h1>
  <div class="name2"></div>
  <p>A Page about me & my projects</p>
  <a href="projects" class="btn btn-lg">Check it Out</a>
</div>
</div>

{% endblock page_content %}
</body>
</html>
