<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Projects{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}

  <div class="projects">
    <style>.projects{background-image: url(assets/bg_img/subway.jpeg);}</style>
    <div class="head_projects">
      <div class="sidelogo_projects"><img src="assets/png/001-shapes.png"/></div>
      <h1>My Projects</h1>
      <div class="projects_text">
        <h3>Bmail</h3><a href="https://boogle-bmail.appspot.com/"><img src="assets/projects.imgs/bmail.png"/></a>
        <ul>
          <li>Login with your gmail-account</li>
          <li>Send Messages to your friends </li>
          <li>Save your contacts </li>
          <li>Wheater API</li>
          <li>News API</li>
          </ul>
        <br>
        <h3>ChattyChat!</h3><a href="https://chattychatweb.appspot.com/"><img src="assets/projects.imgs/chattychat.png"/></a>
        <br>
        <ul>
          <li>Login with your gmail-account</li>
          <li>Leaf a message in our thread</li>
          <li>Funny community</li>
          <li>For free</li>
          </ul>
        <br>
        <h3>Filton Hotel</h3><a href="https://guestbook-filton.appspot.com/"><img src="assets/projects.imgs/filton.jpg"/></a>
        <br>
        <ul>
          <li>Leaf a message in the guestbook</li>
          <li>Write your Feedback</li>
          <li>Tell us your opinion</li>
          <li>Share your impressions ...</li>
          </ul>
        <br>
       </div>
    </div>
  </div>

{% endblock page_content %}
</body>
</html>
