<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Request{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}

  <div class="contact">
  <style>.contact{background-image: url(assets/bg_img/contact.jpg);}</style>

  <div class="request">
    <div class="sidelogo_request" href=""><img src="assets/png/004-calendar.png"/></div>
    <h1>Request</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Your Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter your Request</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <a href="" class="btn btn-lg">Send your Request</a>
</form>
</div>
</div>

<footer class="footermain">

  <div class="socicon">
  <div class="socicon-instagram"></div>
  <div class="socicon-facebook"></div>
  <div class="socicon-twitter"></div>
  <div class="socicon-youtube"></div>
  <div class="social">Let`s get friends!</div>
  <div class="copy">Tobias Galler 2017</div>
</div>

</footer>

{% endblock page_content %}
</body>
</html>
